html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    background-color: rgb(255, 111, 0);
    width: 100%;
    height: 7%;
    text-align: center;
}

header > img{
    margin: auto;
    width: 10%;
    padding-top: 0.8rem;
}

header > span{
    float: left;
    padding-left: 15%;
    padding-top: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.user{
    font-size: 2rem;
    float: right;
    padding-right: 15%;
    padding-top: 1rem;
    letter-spacing: 0.08em;
    color: white;
}

.container{
    display: flex;
    flex-flow: row wrap;
    margin: 3% 15% 5% 15%;
    justify-content: center;
    row-gap: 6rem;
}

.container > div{
    flex-basis: 33%;
}

div > img{
    width: 90%;
}

p{
    position: absolute;

}

.sconto1{
    display: inline-block;
    position: relative;
    top: -5rem;
    width: 3.5rem;
    margin-right: 3px;
    text-align: center;
    color: white;
    background-color: red;
}

.sostenibilita1{
    display: inline-block;
    position: relative;
    top: -5rem;
    width: 7rem;
    text-align: center;
    color: white;
    background-color: green;
}

.nome1{
    display: inline-block;
    position: relative;
    left: -10.9rem;
    top: -1rem;
    color: grey;
}

.vestito1{
    display: inline-block;
    position: relative;
    left: -13.6rem;
    top: 0.4rem;
    font-weight: bold;
}

.scontato1{
    display: inline-block;
    color: red;
    position: relative;
    right: 27rem;
    top: 1.8rem;
    font-weight: bold;
}

.pieno1{
    text-decoration: line-through;
    position: relative;
    right: 27em;
    top: 1.8rem;
}

.sconto2{
    display: inline-block;
    position: relative;
    top: -5rem;
    width: 3.5rem;
    margin-right: 3px;
    text-align: center;
    color: white;
    background-color: red;
}

.nome2{
    display: inline-block;
    position: relative;
    left: -3.9rem;
    top: -1rem;
    color: grey;
}

.vestito2{
    display: inline-block;
    position: relative;
    left: -6.6rem;
    top: 0.4rem;
    font-weight: bold;
}

.scontato2{
    display: inline-block;
    color: red;
    position: relative;
    right: 12.4rem;
    top: 1.8rem;
    font-weight: bold;
}

.pieno2{
    text-decoration: line-through;
    position: relative;
    right: 12.4em;
    top: 1.8rem;
}

.sconto3{
    display: inline-block;
    position: relative;
    top: -5rem;
    width: 3.5rem;
    margin-right: 3px;
    text-align: center;
    color: white;
    background-color: red;
}

.nome3{
    display: inline-block;
    position: relative;
    left: -3.9rem;
    top: -1rem;
    color: grey;
}

.vestito3{
    display: inline-block;
    position: relative;
    right: 13.2rem;
    top: 0.4rem;
    font-weight: bold;
}

.scontato3{
    display: inline-block;
    color: red;
    position: relative;
    right: 28.6rem;
    top: 1.8rem;
    font-weight: bold;
}

.pieno3{
    text-decoration: line-through;
    position: relative;
    right: 28.4rem;
    top: 1.8rem;
}

.sconto4{
    display: inline-block;
    position: relative;
    top: -5rem;
    width: 3.5rem;
    margin-right: 3px;
    text-align: center;
    color: white;
    background-color: red;
}

.sostenibilita4{
    display: inline-block;
    position: relative;
    top: -5rem;
    width: 7rem;
    text-align: center;
    color: white;
    background-color: green;
}

.nome4{
    display: inline-block;
    position: relative;
    left: -10.9rem;
    top: -1rem;
    color: grey;
}

.vestito4{
    display: inline-block;
    position: relative;
    left: -13.6rem;
    top: 0.4rem;
    font-weight: bold;
}

.scontato4{
    display: inline-block;
    color: red;
    position: relative;
    right: 20.7rem;
    top: 1.8rem;
    font-weight: bold;
}

.pieno4{
    text-decoration: line-through;
    position: relative;
    right: 20.7rem;
    top: 1.8rem;
}

.nome5{
    display: inline-block;
    position: relative;
    top: -1rem;
    color: grey;
}

.vestito5{
    display: inline-block;
    position: relative;
    right: 7.3rem;
    top: 0.4rem;
    font-weight: bold;
}

.scontato5{
    display: inline-block;
    color: red;
    position: relative;
    right: 15.3rem;
    top: 1.8rem;
    font-weight: bold;
}

.sostenibilita6{
    display: inline-block;
    position: relative;
    top: -5rem;
    width: 7rem;
    text-align: center;
    color: white;
    background-color: green;
}

.nome6{
    display: inline-block;
    position: relative;
    right: 7.2rem;
    top: -1rem;
    color: grey;
}

.vestito6{
    display: inline-block;
    position: relative;
    right: 9.9rem;
    top: 0.4rem;
    font-weight: bold;
}

.scontato6{
    display: inline-block;
    color: red;
    position: relative;
    right: 20.2rem;
    top: 1.8rem;
    font-weight: bold;
}

.fa-heart{
    position: relative;
    bottom: 33rem;
    right: 2.2rem;
    background-color: white;
    font-size: 2rem;
}

footer{
    margin-top: 7%;
    background-color: rgb(33, 28, 28);
    height: 15%;
}

h2{
    float: left;
    color: white;
    padding-left: 15%;
}

footer > p{
    float: left;
    clear: left;
    color: white;
    padding-left: 15%;
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    float: right;
    padding-right: 18%;
    padding-top: 3%;
    color: white;
}

section > i{
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.imgb{
    display: none;
}

.img:hover{
    display: none;
}

.img:hover + .imgb{
    display: inline-block;
}

